[workflows]
runButton = "Run FastAPI Server"

[[workflows.workflow]]
name = "Run FastAPI Server"
author = 47912742
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
